torch>=2.0.0
streamlit>=1.27.0
transformers
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pandas
requests
pytz
psycopg2-binary
groq
python-dateutil
zoomus
html2text
beautifulsoup4
tavily-python
zipfile
os